.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.pieChart{
    width: 46%;
    position: relative;
    border-radius: 25px;
    background-color: #2C2D30;
    margin: 30px 25px 30px 40px;
}

.pie{
    position: absolute;
    transform: translate(20%, 30%);
}

#title{
    margin-top: 4vh;
    margin-bottom: 6vh;
    color: white;
}

.keywords{
    width: 50%;
    position: relative;
}

.topKeywords{
    height: 92%;
    background-color: #2C2D30;
    display: flex;
    border-radius: 25px;
    margin: 30px 30px 20px 0px;
}

.bottomKeywords{
    height: 50vh;
    /* background-color: #789; */
}

.avatar{
    width: 10vw;
    height: fit-content;
    position: relative;
    
}

#avatarPic{
    width: 4vw;
    height: 4vw;
    position: absolute;
    transform: translate(-40%, 50%);
    margin-top: 2vh;
}

.pieData{
    width: 35vw;
}

#username{
    text-align: left;
    margin-top: 6vh;
    color: #82D930;
}

#keyParagrah{
    text-align: left;
    line-height: 24px;
    height: fit-content;
    color:white;
    margin-right: 30px;
}