.navbar {
    /*height: 80px;*/
    /* display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    z-index: 999; */
    width: 5rem;
    height: 100vh;
    position: fixed;
}

.navbarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-template-columns: repeat(4, auto);
    grid-gap: 15px; */
    list-style: none;
    /* text-align: center; */
    /* /* width: 60vw; */
    justify-content: center;
    margin-top: 1.5rem; 
    /* margin-bottom: 2rem;  */
    /* margin: 0; */
    /* padding: 0;  */
}

.navbarItem {
    width: 100%;
    height: 10vh;
}

#icon{
    width: 3.5rem;
}
